In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy

In [2]:
#Gustavo/data/Para_juntar

df=pd.read_csv('data/Para_juntar/Grande Base.csv',encoding='latin1')

In [3]:
df.head()

,CD_PROGRAMA_IES,AN_BASE,CD_AREA_AVALIACAO,CONCEITO_PROGRAMA,IB_Total_docentes,IB_Mulheres,IB_Homens,IB_Brasileiros,IB_Estrangeiros,IB_QTDE_Regime_Parcial,...,NM_MODALIDADE_PROGRAMA,Qtd_Proj,N_PESQUISA,Outros projetos,Qtd_Financiadores,BOLSA,OUTRO AUXÃÂLIO FINANCEIRO,SEM AUXÃÂLIO,PÃÂBLICA_OU_PRIVADA,QTD_FINANCIADORES
0,10001018002P1,2013,9,3,25,10,15,25,0,16,...,1,19,17.0,2.0,16,1.0,15.0,0.0,1,3
1,10001018002P1,2014,9,3,22,8,14,22,0,16,...,1,26,23.0,3.0,20,1.0,19.0,0.0,1,3
2,10001018002P1,2015,9,3,22,8,14,22,0,15,...,1,26,23.0,3.0,19,1.0,18.0,0.0,1,3
3,10001018002P1,2016,9,3,20,7,13,20,0,14,...,1,40,35.0,5.0,32,2.0,30.0,0.0,1,4
4,10001018002P1,2017,9,4,22,8,14,22,0,16,...,1,68,61.0,7.0,58,6.0,52.0,0.0,1,4

In [4]:
def moda(List):
    List=list(List)
    counter = 0
    num = List[0]
     
    for i in List:
        curr_frequency = List.count(i)
        if(curr_frequency> counter):
            counter = curr_frequency
            num = i
 
    return num

In [5]:
df=df[['CD_PROGRAMA_IES','AN_BASE','IB_Total_docentes','CONCEITO_PROGRAMA']]

In [6]:
df=df.groupby(['CD_PROGRAMA_IES'],as_index=False).agg({'IB_Total_docentes':np.mean,
                                                      'CONCEITO_PROGRAMA':moda})

In [7]:
df

     CD_PROGRAMA_IES  IB_Total_docentes  CONCEITO_PROGRAMA
0      10001018002P1          21.500000                  3
1      10001018004P4          31.000000                  4
2      10001018005P0          16.500000                  4
3      10001018006P7          11.500000                  4
4      10001018008P0          17.000000                  2
...              ...                ...                ...
4005   53017013001P6          13.333333                  3
4006   53022017001P6          17.000000                  3
4007   53029011002P7          15.000000                  3
4008   53044002001P7          38.000000                  3
4009   53045009001P3         257.750000                  3

[4010 rows x 3 columns]

In [8]:
moda(np.array([1,2,3,4,5,5,6,6,7,7,7,8]))

7