# Jutando todos os datasets com features geradas

In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('data/Features/Features_docentes_dicentes_teses.csv',encoding='latin1')

In [3]:
df2=pd.read_csv('data/Features/Teses-Dissertassoes_2013-2019.csv',encoding='latin1')

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26135 entries, 0 to 26134
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CD_PROGRAMA_IES         26135 non-null  object
 1   AN_BASE                 26135 non-null  float64
 2   ID_SUBTIPO_PRODUCAO     26135 non-null  float64
 3   NM_SUBTIPO_PRODUCAO     26135 non-null  object
 4   IN_TRABALHO_MESMA_AREA  26135 non-null  float64
 5   NR_PAGINAS              24300 non-null  float64
 6   Lingua_estrangeira      26135 non-null  int64
 7   Quantidade_Trabalhos    26135 non-null  int64
 8   Do_Homens               26135 non-null  int64
 9   Do_Mulheres             26135 non-null  int64
 10  Do_Brasileiros          26135 non-null  int64
 11  Do_Estrangeiros         26135 non-null  int64
 12  Quantidade_Docentes     26135 non-null  int64
 13  AN_NASCIMENTO_DOCENTE   26135 non-null  float64
 14  SG_ENTIDADE_ENSINO      26135 non-null  object
 15  Dis_Homens              26135 non-null  int64
 16  Dis_Mulheres            26135 non-null  int64
 17  Dis_Brasileiros         26135 non-null  int64
 18  Dis_Estrangeiros        26135 non-null  int64
 19  diferenca_idade         26135 non-null  float64
 20  razao_aluno_prof        26135 non-null  float64
 21  Quantidade_Discentes    26135 non-null  int64
 22  Dis_Prop_Homens         26135 non-null  float64
 23  Dis_Aluno_Tempo         26134 non-null  float64
 24  QT_MES_TITULACAO        26134 non-null  float64
 25  CD_AREA_AVALIACAO       26135 non-null  int64
 26  pag_por_aluno           24300 non-null  float64
 27  CS_STATUS_JURIDICO      26135 non-null  object
 28  AN_NASCIMENTO_DISCENTE  26135 non-null  float64
 29  NM_REGIAO               26135 non-null  object
 30  SG_UF_PROGRAMA          26135 non-null  object
 31  CD_CONCEITO_PROGRAMA    26135 non-null  int64
dtypes: float64(12), int64(14), object(6)
memory usage: 6.4+ MB

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559458 entries, 0 to 559457
Data columns (total 7 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   AN_BASE                 559456 non-null  float64
 1   CD_PROGRAMA             559458 non-null  object
 2   ID_SUBTIPO_PRODUCAO     559457 non-null  float64
 3   NM_SUBTIPO_PRODUCAO     559457 non-null  object
 4   IN_TRABALHO_MESMA_AREA  559456 non-null  float64
 5   NR_PAGINAS              559453 non-null  float64
 6   NM_IDIOMA               559457 non-null  object
dtypes: float64(4), object(3)
memory usage: 29.9+ MB